
*.aux

*.log

*.out

NSFCyclones-ProjectDescription.pdf

NSFCyclones-ProjectDescription.synctex.gz

NSFCyclones-ProjectDescription.bbl

NSFCyclones-ProjectDescription.blg

density_plot-eps-converted-to.pdf
