
*.aux

*.log

*.out

NSFCyclones-ProjectDescription.pdf

NSFCyclones-ProjectDescription.synctex.gz

NSFCyclones-ProjectDescription.bbl

NSFCyclones-ProjectDescription.blg

density_plot-eps-converted-to.pdf

NSFCyclones-References.synctex.gz

NSFCyclones-Ullrich-BiographicalSketch.synctex.gz

NSFCyclones-Ullrich-BiographicalSketch.pdf

NSFCyclones-References.pdf

NSFCyclones-DataManagement.bbl

NSFCyclones-DataManagement.blg

NSFCyclones-DataManagement.synctex.gz

NSFCyclones-Facilities.synctex.gz

NSFCyclones-Facilities.pdf

NSFCyclones-Summary.synctex.gz

NSFCyclones-Summary.pdf

NSFCyclones-DataManagement.pdf
